<div class="card shadow p-3 mt-4">
  <div class="row g-2">

    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="searchData.ville">
        <option value="">Ville</option>
        <option *ngFor="let v of villes" [value]="v">{{ v }}</option>
      </select>
    </div>

    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="searchData.type">
        <option value="">Type</option>
        <option *ngFor="let t of types" [value]="t">{{ t }}</option>
      </select>
    </div>

    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="Min €"
             [(ngModel)]="searchData.minPrice">
    </div>

    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="Max €"
             [(ngModel)]="searchData.maxPrice">
    </div>

    <div class="col-md-2 d-grid">
      <button class="btn btn-primary" (click)="onSearch()">
        <i class="fa-solid fa-magnifying-glass"></i> Rechercher
      </button>
    </div>

  </div>
</div>
