@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

label {
  display: block;
  margin-bottom: $spacing-sm;
  color: $color-dark-gray;
  font-size: $font-size-sm;
}

input {
  @include input-base;
}
