@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

button {
  font-family: $font-family-base;
}

.btn-primary {
  @include btn-primary;
}

.btn-secondary {
  @include btn-secondary;
}

.btn-accent {
  @include btn-accent;
}

.btn-ghost {
  @include btn-ghost;
}

