@use '../../../../styles/_variables' as *;
@use '../../../../styles/_mixins' as *;

.card {
  @include card;
}

.card-header {
  border-bottom: 1px solid $color-light-gray;
  padding-bottom: $spacing-md;
  margin-bottom: $spacing-md;
}

.card-title {
  font-size: $font-size-xl;
  color: $color-very-dark;
  font-weight: $font-weight-semibold;
}

.card-body {
  color: $color-dark-gray;
  line-height: $line-height-normal;
}
